*{
box-sizing: border-box;
margin: 0;
padding: 0;
/* border: solid red; */
}
.navBar{
  display: flex;
  height: 60px;
  background-color: rgba(14, 9, 242, 0.24);
}
.logo{
  height: 55px;
  display: flex;
  padding: 0 2rem;
  
}
.logo >img{
  height: 58px;
}
.logo >h1{
  padding: 13px 0;
}
.navBar_icons{
  display: flex;
  
}