.login{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0 2rem;
  width: 350px;
  height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(205, 230,240, 0.45);
  gap: 2rem;
} 

.loginCabecera{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loginCabecera > img{
  height: 100px;
  width: 120px;
}

.loginCabecera > span{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.userlist{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userlist > li {
  display: flex;
  font-size: 30px;
}
/* .userlist > li:hover{
  cursor: pointer;
} */
.userlist > input{
  height: 30px;
  border-radius: 8px;
  padding-left: 1rem; 
}

.botonIngresarlogin{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.botonIngresarlogin > button{
  background-color: #e45d28; 
  color: white; 
  padding: 10px;
  border: none; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.iconoslogin {
  height: 20%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  border: solid red;
}

.iconoslogin > box-icon {
  border: solid red;
  /* padding: 2rem; */
  font: 60px;
}


