.navBar{
    display: flex;
    height: 60px;
    background-color: rgba(14, 9, 242, 0.24);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
  }

  @media screen and (max-width: 768px) {
    /* Ajustar el tamaño y reorganizar elementos para dispositivos móviles */
    .navBar {
      height: 120px; /* Aumentar la altura para más espacio en dispositivos móviles */
      flex-direction: column; /* Organizar los elementos en una columna */
      align-items: center;
    }
  
    .logo {
      padding: 0.5rem; /* Reducir el relleno para más espacio en dispositivos móviles */
    }
  
    .logo > h1 {
      font-size: 18px; /* Reducir el tamaño de fuente del título del logotipo */
      color: aqua;
    }
  
    .navBar_icon {
      display: none; /* Ocultar los iconos en dispositivos móviles */
    }
  
    .search {
      width: 100%; /* Asegurar que el campo de búsqueda ocupe toda la anchura disponible */
      margin-bottom: 1rem; /* Agregar un margen inferior para separar el campo de búsqueda de otros elementos */
    }
  
    .search > input {
      height: 20px; /* Aumentar la altura del campo de búsqueda para mejorar la usabilidad en dispositivos móviles */
    }
  }
  
  .logo{
    height: 55px;
    display: flex;
    padding: 0 1rem;
  }
  
  .logo >img{
    height: 40px;
    cursor: pointer;
  }
  
  .logo >h1{
    padding: 13px 0;
    cursor: pointer;
    font-size: 18px; 
  }
  
  .navBar_icon{
    display: flex;
    height: 60px;
    margin-left: 1rem;
    justify-content: space-between;
    /*width: 25%;
    /* margin-right: 35px; */
    align-items: center;
  }
  
  .loginAndCart{
    display: flex;
    justify-content: space-between;
    /*padding: 1rem;*/
    gap: 1rem;
  }
  
  .search > input{
    height: 30px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 1rem;
    width: 100%;
  }
  
  .fa-solid, .fa-user{
    font-size: 30px;
    cursor: pointer;
  }
  
  .search{
    position: relative;
    flex: 1;
  }
  
  .fa-magnifying-glass{
    font-size: 20px;
    position: absolute;
    left: 6px;
    top: 5px;
  }