
.card{
    height: 300px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.685);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%; /* Reducir el ancho de las tarjetas para dispositivos más pequeños */
      height: 250px; /* Ajustar la altura para dispositivos más pequeños */
    }
  
    .ProducImg > img {
      width: 50px; /* Reducir el tamaño de la imagen para dispositivos más pequeños */
    }
  
    .producto {
      gap: 1.5rem; /* Reducir el espacio entre las tarjetas para dispositivos más pequeños */
    }
  }
  
  .pieImg{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .ProducImg{
    border-radius: 10px 10px 0 0;
    background-color: white;
    width: 180px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .priceTitle{
    font-weight: bold;
  }
  
  .ProducImg > img{
    width: 70px;
    border-radius: 10px 10px 0 0 ;
  }
  
  .precioAndStok{
    display: flex;
    justify-content: space-between;
    position: relative; 
  }
  
  .ProducImg::before{
    position:absolute;
    content: "+";
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 0 8px 1px rgb(173, 173, 173);
    text-align: center;
    font-weight:900;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 145px;
    font-size: 20px;
  }
  .producto{
    padding: 2.5rem 1rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-content: space-between;
  }