@import url("../src/css/loging.css");
@import url("../src/css/NavBar.css");
@import url("../src/css/Filter.css");
@import url("../src/css/Categorias.css");
@import url("../src/css/Producto.css");
@import url("../src/css/Registarse.css");
@import url("../src/css/SobreNosotros.css");


*{
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
 /* border: solid red;     */
}

html{
  height:auto;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.App{
  display: flexbox;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  height:100%;
  
}
